<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function promptLogout(){
        swal({
            title: "Are you sure?",
            text: "If yes, make sure to save all changes you have made.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            })
            .then((willDelete) => {
            if (willDelete) {
                swal("You have been logged out successfully!", {
                    icon: "success",
                    buttons: false,
                    });
                setTimeout(function(){
                    window.location.href='/logout/';
                }, 1500);
            }
        });
    }
</script>