{% include 'base.html' %}
{% load static %}
{% block content %}
<div class="user-dashboard">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Update Book</h2>
                <hr>
                <a href="{% url 'dashboard' %}"> << Back to Dashboard </a>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <input type="submit" value="Update Now" class="btn green">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}