{% include 'base.html' %}
{% load static %}
{% block content %}
<div class="user-dashboard">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Update Book</h2>
                <hr>
                <a href="{% url 'dashboard' %}"> << Back to Dashboard </a>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <button onclick='updateBook("{{ object.id }}","{{ object.name }}","{{ object.description }}","{{ object.author }}")' value="Update Now" class="btn green">Update Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script>

        let csrf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        function updateBook(id, name, description, author){
            let json_info = {
                id: id,
                name: name,
                description,
                author
            }

            $.ajax({
                url: '../api/book/'+json_info.id+"/",
                method: 'PUT',
                contenttype: 'application/json',
                data: json_info,
                headers: { "X-CSRFToken": csrf_token },
                success: (response) =>{
                    window.location.href='/dashboard/'
                }
            });
        }
    </script>
{% endblock %}