{% extends 'base.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block content %}
<div class="user-dashboard">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Welcome, {{ user.username }}!</h2>
                <hr>
                <ul>
                    <a href="{% url 'dashboard' %}">
                        <li><i class="fa fa-home"></i> Home</li>
                    </a>
                    <a href="{% url 'add_book' %}">
                        <li><i class="fa fa-plus"></i> Add Book</li>
                    </a>
                    <a href="{% url 'users' %}">
                        <li><i class="fa fa-user"></i> Users</li>
                    </a>
                    <button class="btn red" onclick="promptLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign
                        Out</button>
                </ul>
                <hr>
                {% if book %}
                <table class="highlight">
                    <thead>
                        <th>#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for b in book %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><img src="/media/{{ b.cover }}" alt="" class="materialboxed" data-caption="Life is Good" width="250"></td>
                            <td>{{ b.name }}</td>
                            <td style="text-align: justify;"><blockquote>{{ b.description }}</blockquote></td>
                            <td>{{ b.author }}</td>
                            <td>
                                <a href="{% url 'update_book' b.id %}">Update</a> /
                                <a href="{% url 'book_delete' b.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p style="color:white;"> <i> No Books to display. Try adding new.</i></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
    <script>
    
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });

    // Or with jQuery

        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
    </script>
{% endblock %}
{% endif %}