{% extends 'base.html' %}
{% load static %}

{% if user.is_authenticated %}
{% block content %}
<div class="user-dashboard">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Welcome, {{ user.username }}!</h2>
                <hr>
                <ul>
                    <a href="{% url 'dashboard' %}">
                        <li><i class="fa fa-home"></i> Home</li>
                    </a>
                    <a href="{% url 'add_book' %}">
                        <li><i class="fa fa-plus"></i> Add Book</li>
                    </a>
                    <a href="{% url 'users' %}">
                        <li><i class="fa fa-user"></i> Users</li>
                    </a>
                    <button class="btn red" onclick="promptLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign
                        Out</button>
                </ul>
                <hr>
                {% if book %}
                <table class="highlight">
                    <thead>
                        <th>#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for b in book %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% csrf_token %}
                            <td><img src="/media/{{ b.cover }}" alt="" class="materialboxed" data-caption="Life is Good" width="250"></td>
                            <td>{{ b.name }}</td>
                            <td style="text-align: justify;"><blockquote>{{ b.description }}</blockquote></td>
                            <td>{{ b.author }}</td>
                            <td>
                                <a href="{% url 'update_book' b.id %}">Update</a> <br>
                                <button class="btn red" onclick='deletePrompt({{ b.id }}, "{{ b.name }}", "{{ b.description }}", "{{ b.author }}" )'>Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p style="color:white;"> <i> No Books to display. Try adding new.</i></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
    <script>
    
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });

        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });


        
        // Delete Book Warning
        let csrf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        function deletePrompt(id, name, description, author){
            swal({
                title: "Delete this book, "+name+"?",
                text: "Description: "+description,
                icon: "warning",
                buttons: true,
                dangerMode: true,
                })
                .then((willDelete) => {
                if (willDelete) {
                    swal("Book Deleted!", {
                        icon: "success",
                        buttons: false,
                    });

                    let json_info = {
                        id: id,
                        name: name,
                        description: description,
                        author: author
                    }
                    
                    $.ajax({
                        url: '../api/book/delete/'+json_info.id+"/",
                        method: 'DELETE',
                        contenttype: 'application/json',
                        data: json_info,
                        headers: { "X-CSRFToken": csrf_token },
                        success: (response) =>{
                            
                        }
                    });
                    setTimeout(function(){
                        window.location.href='/dashboard/';
                    }, 1500)
                }
            });
        }

    </script>
{% endblock %}
{% endif %}